DB_MODE=bridge

DB_BRIDGE_URL=https://exec-saint-pose-sunrise.trycloudflare.com
DB_BRIDGE_KEY=7f945c25eb844f84acf572b7b037e9fe38aa3843fa14c63d49fe1c09dd120780

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin@1234

JWT_SECRET=8e3a30bff75e54337af2fd7c03b021736780fb137eae1acaf6a7e01727f071d3
JWT_EXPIRES_IN=7d

PORT=3000

LINE_CHANNEL_SECRET=19596e926400dafe6e4ebb0312ac586a

LINE_CHANNEL_ACCESS_TOKEN=your-line-channel-access-token

LINE_GROUP_ID=

OVERDUE_CHECK_CRON=*/15 * * * *